body
{
   background-color: #696969;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer3
{
   background-color: #FF8C00;
   background-image: none;
   border: 5px #CCCCCC solid;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog2.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog2.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog2.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog2, .jQueryDialog2 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog2.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog3.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog3.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog3.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog3, .jQueryDialog3 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog3.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog4.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog4.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog4.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog4, .jQueryDialog4 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog4.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog1.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog1.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog1.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog1, .jQueryDialog1 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog1.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
#Layer1
{
   background-color: #808080;
   background-image: none;
   border: 2px #CCCCCC solid;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
}
#Logout1
{
   background-color: #3370B7;
   border-color: #2E6DA4;
   border-width: 1px;
   border-style: solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 260px;
   height: 31px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button3
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button4
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Button5
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button6
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #696969;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog5.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog5.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog5.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog5, .jQueryDialog5 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog5.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog6.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog6.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #333333;
}
.jQueryDialog6.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog6, .jQueryDialog6 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog6.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
#TextArea1
{
   border: 2px #FF8C00 solid;
   border-radius: 2px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -moz-box-shadow: 2px 2px 2px #000000;
   -webkit-box-shadow: 2px 2px 2px #000000;
   box-shadow: 2px 2px 2px #000000;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
