body
{
   background-color: #000000;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button3
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button4
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog1.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog1.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog1.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog1, .jQueryDialog1 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog1.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog2.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog2.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog2.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog2, .jQueryDialog2 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog2.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog3.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog3.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog3.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog3, .jQueryDialog3 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog3.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog4.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog4.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog4.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog4, .jQueryDialog4 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog4.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog5.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog5.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog5.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog5, .jQueryDialog5 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog5.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog6.ui-dialog
{
   padding: 4px 4px 4px 4px;
   display: none;
}
.jQueryDialog6.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog6.ui-dialog .ui-dialog-titlebar
{
   font-weight: normal;
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog6, .jQueryDialog6 .ui-corner-all
{
   border-radius: 0px;
}
#jQueryDialog6.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
#jQueryAccordion1
{
   width: 100%;
   height: 100%;
}
#wb_jQueryAccordion1 .ui-helper-reset
{
   line-height: normal !important;
   font-size: 1em !important;
}
#jQueryAccordion1 .ui-accordion-header
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px !important;
   font-style: normal;
   padding: 10px 10px 10px 10px;
   text-align: left;
}
#jQueryAccordion1 h3
{
   display: block;
   margin: 0;
}
#jQueryAccordion1 .ui-accordion-header .ui-icon
{
   padding-right: 4px;
}
#jQueryAccordion1 .ui-accordion-content
{
   padding: 0;
   position: relative;
}
#jQueryAccordion1, #jQueryAccordion1 > .ui-corner-all, #jQueryAccordion1 > .ui-corner-top
{
   -webkit-border-top-left-radius: 6px;
   -moz-border-top-left-radius: 6px;
   border-top-left-radius: 6px;
   -webkit-border-top-right-radius: 6px;
   -moz-border-top-right-radius: 6px;
   border-top-right-radius: 6px;
}
#jQueryAccordion1 .ui-corner-all, #jQueryAccordion1 .ui-corner-bottom
{
   -webkit-border-bottom-right-radius: 6px;
   -moz-border-bottom-right-radius: 6px;
   border-bottom-right-radius: 6px;
   -webkit-border-bottom-left-radius: 6px;
   -moz-border-bottom-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
#AutoComplete1
{
   border: 1px #FFA500 solid;
   border-radius: 4px;
   background-color: #4F4F4F;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 1px 1px 1px 1px;
   text-align: left;
   vertical-align: middle;
}
 .ui-menu-item
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#jQueryButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#jQueryButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#jQueryDatePicker1 .ui-datepicker
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   z-index: 1003 !important;
   display: none;
}
.ui-datepicker, .ui-datepicker .ui-corner-all
{
   border-radius: 0px;
}
#ListView1{
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   border-width: 0;
   width: 100%;
   height: 100%;
}
#ListView1 .ui-btn 
{
   margin: .5em 0;
   padding: 12px 18px 12px 18px;
   display: block;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
   overflow: hidden;
   cursor: pointer;
}
#ListView1 .ui-btn:link 
{
   text-decoration: none !important;
}
#ListView1 .ui-btn, label.ui-btn 
{
   border-width: 1px;
   border-style: solid;
}
#ListView1, #ListView1 > li 
{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 13px;
}
#ListView1 > li 
{
   display: block;
   position: relative;
   overflow: visible;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   margin: 0;
   display: block;
   position: relative;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   border-style: solid;
   border-width: 1px 1px 0 1px;
   font-weight: normal;
}
#ListView1 .ui-state-default
{
   color: #FFFFFF !important;
}
#ListView1 .ui-state-hover
{
   color: #FFFFFF !important;
}
#ListView1 .ui-state-active
{
   color: #FFFFFF !important;
}
#ListView1 > .ui-li-divider 
{
   padding: 10px 10px 10px 10px;
   cursor: default;
   outline: 0;
}
#ListView1 > .ui-li-static 
{
   padding: 12px 18px 12px 18px;
}
#ListView1 > li.ui-first-child, #ListView1 > li.ui-first-child > a.ui-btn 
{
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#ListView1 > li.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
}
#ListView1 > .ui-li-has-icon > .ui-btn, #ListView1 > .ui-li-static.ui-li-has-icon 
{
   min-height: 0px;
   padding-left: 36px;
}
#ListView1 > .ui-li-static.ui-last-child, #ListView1 > .ui-li-divider.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn 
{
   border-bottom-width: 1px;
}
#ListView1 > .ui-li-has-icon > img:first-child, #ListView1 > .ui-li-has-icon > .ui-btn > img:first-child 
{
   border-width: 0;
   position: absolute;
   left: 18px;
   top: 12px;
   max-width: 0px;
   max-height: 0px;
}
#ListView1 p 
{
   margin: 0;
   padding: 8px 0px 0px 0px;
   font-size: 11px;
   font-weight: normal;
}
#jQueryMenu1, #jQueryMenu1 .ui-menu-item a
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-decoration: none;
}
#jQueryMenu1 .ui-menu-item a
{
   color: #2F4F4F;
}
#jQueryMenu1 li
{
   list-style: none;
   width: auto;
}
#jQueryMenu1 .ui-menu-item-wrapper
{
   line-height: 15px;
   padding: 10px 15px 10px 15px;
}
#jQueryMenu1 li ul .ui-menu-item-wrapper
{
   width: 85px;
}
#jQueryProgressbar1, #jQueryProgressbar1 .ui-corner-right
{
   -webkit-border-bottom-right-radius: 6px;
   -moz-border-bottom-right-radius: 6px;
   border-bottom-right-radius: 6px;
   -webkit-border-top-right-radius: 6px;
   -moz-border-top-right-radius: 6px;
   border-top-right-radius: 6px;
}
#jQueryProgressbar1, #jQueryProgressbar1 .ui-corner-left
{
   -webkit-border-bottom-left-radius: 6px;
   -moz-border-bottom-left-radius: 6px;
   border-bottom-left-radius: 6px;
   -webkit-border-top-left-radius: 6px;
   -moz-border-top-left-radius: 6px;
   border-top-left-radius: 6px;
}
#jQuerySlider1.ui-slider-horizontal
{
   height: 14px;
   width: 461px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#jQuerySlider1, #jQuerySlider1 .ui-corner-all
{
   border-radius: 0px;
}
#jQuerySpinner1
{
   color :#2F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 3px 22px 3px 5px;
   text-align: left;
   vertical-align: middle;
}
#wb_jQuerySpinner1 .ui-corner-all
{
   border-radius: 0px;
}
#wb_jQuerySpinner1 .ui-corner-tr
{
   border-top-right-radius: 0px;
}
#wb_jQuerySpinner1 .ui-corner-br
{
   border-bottom-right-radius: 0px;
}
#jQueryTabs1.ui-widget
{
   font-size: 1em !important;
}
#jQueryTabs1
{
   padding: 4px 4px 4px 4px;
}
#jQueryTabs1 .ui-tabs-nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 0px 4px;
}
#jQueryTabs1 .ui-tabs-nav li
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0px 2px -1px 0px;
}
#jQueryTabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#jQueryTabs1 .ui-helper-reset
{
   line-height: 16px;
}
#jQueryTabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
.jQueryToolTip1
{
   background-image: none;
   background-color: #FFFFFF;
   border: 1px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-align: left;
}
