body
{
   background-color: #000000;
   background-image: url(images/newscreenx2.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PasswordRecovery1
{
   background-color: #EEEEEE;
   border-color:#1E90FF;
   border-width:1px;
   border-style: solid;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: right;
   border-spacing: 4px;
   width: 527px;
   height: 108px;
}
#PasswordRecovery1 td
{
   padding: 0;
}
#PasswordRecovery1 .header
{
   background-color: #FFA500;
   color: #FFFFFF;
   height: 16px;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#PasswordRecovery1 .label
{
   height: 20px;
   width:225px;
}
#PasswordRecovery1 .row
{
   height: 20px;
   text-align: left;
}
#PasswordRecovery1 .input
{
   background-color: #FFFFFF;
   border-color: #878787;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   width: 100px;
   height: 18px;
   padding: 1px 1px 1px 1px;
}
#PasswordRecovery1 .button
{
   background-color: #FFFFFF;
   border-color: #878787;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   width: 70px;
   height: 20px;
}
#Layer1
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #FFA500 solid;
   border-radius: 1px;
}
#Button2
{
   border: 1px #000000 solid;
   border-radius: 4px;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Button3
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
