body
{
   background-color: #000000;
   background-image: url(images/newscreenx2.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.ui-widget
{
   font-size: 1em !important;
}
.jQueryDialog1.ui-dialog
{
   padding: 4px 4px 4px 4px;
}
.jQueryDialog1.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
.jQueryDialog1.ui-dialog .ui-widget-header
{
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 10px;
}
.jQueryDialog1, .jQueryDialog1 .ui-corner-all
{
   border-radius: 0px;
}
#PasswordRecovery1
{
   background-color: #EEEEEE;
   border-color:#1E90FF;
   border-width:1px;
   border-style: solid;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: right;
   border-spacing: 4px;
   width: 596px;
   height: 108px;
}
#PasswordRecovery1 td
{
   padding: 0;
}
#PasswordRecovery1 .header
{
   background-color: #FFA500;
   color: #FFFFFF;
   height: 16px;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#PasswordRecovery1 .label
{
   height: 20px;
   width:260px;
}
#PasswordRecovery1 .row
{
   height: 20px;
   text-align: left;
}
#PasswordRecovery1 .input
{
   background-color: #FFFFFF;
   border-color: #878787;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   width: 100px;
   height: 18px;
   padding: 1px 1px 1px 1px;
}
#PasswordRecovery1 .button
{
   background-color: #FFFFFF;
   border-color: #878787;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   width: 70px;
   height: 20px;
}
#Button1
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
