@font-face
{
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(MaterialIcons-Regular.woff2) format('woff2'),
        url(MaterialIcons-Regular.woff) format('woff'),
        url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}
@-webkit-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-o-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-ms-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes slide-right-in
{
   0% { -webkit-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -webkit-transform-origin: 0 0;  }
   100% { opacity: 1; -webkit-transform: translate(0px,0px) rotate(0deg) ; -webkit-transform-origin: 0 0;  }
}
@-moz-keyframes slide-right-in
{
   0% { -moz-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -moz-transform-origin: 0 0;  }
   100% { opacity: 1; -moz-transform: translate(0px,0px) rotate(0deg) ; -moz-transform-origin: 0 0;  }
}
@-o-keyframes slide-right-in
{
   0% { -o-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -o-transform-origin: 0 0;  }
   100% { opacity: 1; -o-transform: translate(0px,0px) rotate(0deg) ; -o-transform-origin: 0 0;  }
}
@-ms-keyframes slide-right-in
{
   0% { -ms-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -ms-transform-origin: 0 0;  }
   100% { opacity: 1; -ms-transform: translate(0px,0px) rotate(0deg) ; -ms-transform-origin: 0 0;  }
}
@keyframes slide-right-in
{
   0% { transform: translate(100%,0px) rotate(1deg) ; opacity: 0; transform-origin: 0 0;  }
   100% { opacity: 1; transform: translate(0px,0px) rotate(0deg) ; transform-origin: 0 0;  }
}
@-webkit-keyframes transform-pulse
{
   0% { -webkit-transform: rotate(0deg) ;  }
   50% { -webkit-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-pulse
{
   0% { -moz-transform: rotate(0deg) ;  }
   50% { -moz-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes transform-pulse
{
   0% { -o-transform: rotate(0deg) ;  }
   50% { -o-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes transform-pulse
{
   0% { -ms-transform: rotate(0deg) ;  }
   50% { -ms-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-pulse
{
   0% { transform: rotate(0deg) ;  }
   50% { transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-rotate
{
   0% { -webkit-transform: rotate(0deg) ;  }
   100% { -webkit-transform: rotate(359deg) ;  }
}
@-moz-keyframes transform-rotate
{
   0% { -moz-transform: rotate(0deg) ;  }
   100% { -moz-transform: rotate(359deg) ;  }
}
@-o-keyframes transform-rotate
{
   0% { -o-transform: rotate(0deg) ;  }
   100% { -o-transform: rotate(359deg) ;  }
}
@-ms-keyframes transform-rotate
{
   0% { -ms-transform: rotate(0deg) ;  }
   100% { -ms-transform: rotate(359deg) ;  }
}
@keyframes transform-rotate
{
   0% { transform: rotate(0deg) ;  }
   100% { transform: rotate(359deg) ;  }
}
@-webkit-keyframes transform-wiggle
{
   0% { -webkit-transform: rotate(0deg) skewX(9deg) ;  }
   10% { -webkit-transform: rotate(0deg) skewX(-8deg) ;  }
   20% { -webkit-transform: rotate(0deg) skewX(7deg) ;  }
   30% { -webkit-transform: rotate(0deg) skewX(-6deg) ;  }
   40% { -webkit-transform: rotate(0deg) skewX(5deg) ;  }
   50% { -webkit-transform: rotate(0deg) skewX(-4deg) ;  }
   60% { -webkit-transform: rotate(0deg) skewX(3deg) ;  }
   70% { -webkit-transform: rotate(0deg) skewX(-2deg) ;  }
   80% { -webkit-transform: rotate(0deg) skewX(1deg) ;  }
   90% { -webkit-transform: rotate(0deg) skewX(0deg) ;  }
   100% { -webkit-transform: rotate(0deg) skewX(0deg) ;  }
}
@-moz-keyframes transform-wiggle
{
   0% { -moz-transform: rotate(0deg) skewX(9deg) ;  }
   10% { -moz-transform: rotate(0deg) skewX(-8deg) ;  }
   20% { -moz-transform: rotate(0deg) skewX(7deg) ;  }
   30% { -moz-transform: rotate(0deg) skewX(-6deg) ;  }
   40% { -moz-transform: rotate(0deg) skewX(5deg) ;  }
   50% { -moz-transform: rotate(0deg) skewX(-4deg) ;  }
   60% { -moz-transform: rotate(0deg) skewX(3deg) ;  }
   70% { -moz-transform: rotate(0deg) skewX(-2deg) ;  }
   80% { -moz-transform: rotate(0deg) skewX(1deg) ;  }
   90% { -moz-transform: rotate(0deg) skewX(0deg) ;  }
   100% { -moz-transform: rotate(0deg) skewX(0deg) ;  }
}
@-o-keyframes transform-wiggle
{
   0% { -o-transform: rotate(0deg) skewX(9deg) ;  }
   10% { -o-transform: rotate(0deg) skewX(-8deg) ;  }
   20% { -o-transform: rotate(0deg) skewX(7deg) ;  }
   30% { -o-transform: rotate(0deg) skewX(-6deg) ;  }
   40% { -o-transform: rotate(0deg) skewX(5deg) ;  }
   50% { -o-transform: rotate(0deg) skewX(-4deg) ;  }
   60% { -o-transform: rotate(0deg) skewX(3deg) ;  }
   70% { -o-transform: rotate(0deg) skewX(-2deg) ;  }
   80% { -o-transform: rotate(0deg) skewX(1deg) ;  }
   90% { -o-transform: rotate(0deg) skewX(0deg) ;  }
   100% { -o-transform: rotate(0deg) skewX(0deg) ;  }
}
@-ms-keyframes transform-wiggle
{
   0% { -ms-transform: rotate(0deg) skewX(9deg) ;  }
   10% { -ms-transform: rotate(0deg) skewX(-8deg) ;  }
   20% { -ms-transform: rotate(0deg) skewX(7deg) ;  }
   30% { -ms-transform: rotate(0deg) skewX(-6deg) ;  }
   40% { -ms-transform: rotate(0deg) skewX(5deg) ;  }
   50% { -ms-transform: rotate(0deg) skewX(-4deg) ;  }
   60% { -ms-transform: rotate(0deg) skewX(3deg) ;  }
   70% { -ms-transform: rotate(0deg) skewX(-2deg) ;  }
   80% { -ms-transform: rotate(0deg) skewX(1deg) ;  }
   90% { -ms-transform: rotate(0deg) skewX(0deg) ;  }
   100% { -ms-transform: rotate(0deg) skewX(0deg) ;  }
}
@keyframes transform-wiggle
{
   0% { transform: rotate(0deg) skewX(9deg) ;  }
   10% { transform: rotate(0deg) skewX(-8deg) ;  }
   20% { transform: rotate(0deg) skewX(7deg) ;  }
   30% { transform: rotate(0deg) skewX(-6deg) ;  }
   40% { transform: rotate(0deg) skewX(5deg) ;  }
   50% { transform: rotate(0deg) skewX(-4deg) ;  }
   60% { transform: rotate(0deg) skewX(3deg) ;  }
   70% { transform: rotate(0deg) skewX(-2deg) ;  }
   80% { transform: rotate(0deg) skewX(1deg) ;  }
   90% { transform: rotate(0deg) skewX(0deg) ;  }
   100% { transform: rotate(0deg) skewX(0deg) ;  }
}
@-webkit-keyframes transform-3d-flip-in-x
{
   0% { -webkit-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -webkit-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -webkit-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg) ;  }
}
@-moz-keyframes transform-3d-flip-in-x
{
   0% { -moz-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -moz-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -moz-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg) ;  }
}
@-o-keyframes transform-3d-flip-in-x
{
   0% { -o-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -o-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -o-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg) ;  }
}
@-ms-keyframes transform-3d-flip-in-x
{
   0% { -ms-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -ms-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -ms-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -ms-transform: perspective(400px) rotateX(0deg) ;  }
}
@keyframes transform-3d-flip-in-x
{
   0% { transform: perspective(400px) rotateX(90deg) ;  }
   40% { transform: perspective(400px) rotateX(-10deg) ;  }
   70% { transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; transform: perspective(400px) rotateX(0deg) ;  }
}
@-webkit-keyframes transform-3d-flip-in-y
{
   0% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-moz-keyframes transform-3d-flip-in-y
{
   0% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-o-keyframes transform-3d-flip-in-y
{
   0% { -o-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -o-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -o-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-ms-keyframes transform-3d-flip-in-y
{
   0% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -ms-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@keyframes transform-3d-flip-in-y
{
   0% { transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
