HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
BODY {
	MARGIN: 0px; HEIGHT: 100%
}
A:link {
	FONT-WEIGHT: normal; COLOR: #0066cc; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #0066cc; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #fd9800; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 130%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 130%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 130%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 130%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #333; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ebebeb 1px solid; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.componentheading {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #333; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ebebeb 1px solid; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.componentheading {
	PADDING-TOP: 10px
}
.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 20px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; WIDTH: 100%; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 45px; TEXT-ALIGN: left
}
TD.sectiontableheader {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #efefef; PADDING-BOTTOM: 4px; COLOR: #333; PADDING-TOP: 4px
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TD.sectiontableentry1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TD.sectiontableentry2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.contentpane {
	WIDTH: 100%
}
TABLE.contentpaneopen {
	WIDTH: 100%
}
DIV.moduletable {
	MARGIN-BOTTOM: 15px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	BACKGROUND-POSITION: 0px 1px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/de_bullet.png); LINE-HEIGHT: 15px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; TEXT-ALIGN: left
}
.modifydate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: bottom; COLOR: #999999; HEIGHT: 30px; TEXT-ALIGN: left
}
.createdate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; COLOR: #999999; PADDING-TOP: 0px; HEIGHT: 25px
}
.clr {
	CLEAR: both
}
#page_bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
DIV.mosimage_caption {
	FONT-SIZE: 12px; COLOR: #fd9800
}
DIV.center {
	TEXT-ALIGN: center
}
TABLE#main {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
TABLE#inner {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
DIV.blog_more {
	MARGIN-TOP: 30px
}
LI.latestnews {
	MARGIN-TOP: 3px
}
.pagenav {
	FONT-WEIGHT: bold; LINE-HEIGHT: 50px
}
DIV.syndicate DIV {
	TEXT-ALIGN: center
}
TD.left_shadow {
	BACKGROUND: url(../images/de_shadow_left.png) repeat-y; WIDTH: 10px
}
TD.right_shadow {
	BACKGROUND: url(../images/de_shadow_right.png) repeat-y; WIDTH: 10px
}
TD.left_bot_shadow {
	BACKGROUND: url(../images/de_shadow_left_b.png) no-repeat; WIDTH: 10px; HEIGHT: 20px
}
TD.right_bot_shadow {
	BACKGROUND: url(../images/de_shadow_right_b.png) no-repeat; WIDTH: 20px; HEIGHT: 20px
}
TD.bottom {
	BACKGROUND: url(../images/de_shadow_bottom.png) no-repeat left bottom; VERTICAL-ALIGN: top; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: center
}
TD.wrapper {
	WIDTH: 776px; TEXT-ALIGN: center
}
DIV.bottomspacer {
	HEIGHT: 15px
}
DIV#logo {
	BACKGROUND: url(../images/de_logo.png) no-repeat; WIDTH: 207px; HEIGHT: 73px
}
DIV#topmenu {
	BACKGROUND: url(../images/de_topmenu_bg.png) repeat-x; HEIGHT: 29px
}
DIV#topnav {
	BACKGROUND: url(../images/de_topnav_bg.png) no-repeat; WIDTH: 183px; HEIGHT: 123px
}
DIV#topnav DIV {
	MARGIN: 0px 12px 10px 10px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 108px
}
DIV#pathway {
	TEXT-INDENT: 7px; LINE-HEIGHT: 33px; HEIGHT: 33px
}
DIV#leftpadding {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV#centerpadding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
DIV#rightpadding {
	PADDING-RIGHT: 17px; PADDING-LEFT: 13px; BACKGROUND: url(../images/de_rightnav_fade.png) no-repeat; PADDING-BOTTOM: 0px; MARGIN: -5px 0px 0px; WIDTH: 183px; PADDING-TOP: 5px
}
DIV#headerpadding {
	PADDING-BOTTOM: 5px
}
DIV#righttop {
	BACKGROUND: url(../images/de_rightnav_top.png) no-repeat 0px 0px; WIDTH: 183px; HEIGHT: 10px
}
TD.greyseperator {
	BACKGROUND: #ebebeb; WIDTH: 1px
}
DIV.horizseperator {
	BACKGROUND: #ebebeb; OVERFLOW: hidden; HEIGHT: 1px
}
TD.rightnav {
	BORDER-RIGHT: #0000cc 0px solid; BORDER-TOP: #0000cc 0px solid; BACKGROUND: url(../images/de_rightnav_bg.png) repeat-y; BORDER-LEFT: #0000cc 0px solid; BORDER-BOTTOM: #0000cc 0px solid
}
TD.rightbottom {
	BACKGROUND: url(../images/de_rightnav_bottom.png) no-repeat
}
TD.botmenu {
	BACKGROUND: url(../images/de_bottommenu_bg.png) repeat-x; PADDING-TOP: 4px
}
#footmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#footmenu LI {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#footmenu A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #999; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 25px
}
#footmenu A:hover {
	BACKGROUND: #e1e1e1
}
#footer {
	MARGIN-TOP: 4px; FONT-SIZE: 11px; FLOAT: right; WIDTH: 400px; COLOR: #adadad; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-ALIGN: center
}
