@font-face
{
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(MaterialIcons-Regular.woff2) format('woff2'),
        url(MaterialIcons-Regular.woff) format('woff'),
        url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}
@-webkit-keyframes transform-rotate
{
   0% { -webkit-transform: rotate(0deg) ;  }
   100% { -webkit-transform: rotate(359deg) ;  }
}
@-moz-keyframes transform-rotate
{
   0% { -moz-transform: rotate(0deg) ;  }
   100% { -moz-transform: rotate(359deg) ;  }
}
@-o-keyframes transform-rotate
{
   0% { -o-transform: rotate(0deg) ;  }
   100% { -o-transform: rotate(359deg) ;  }
}
@-ms-keyframes transform-rotate
{
   0% { -ms-transform: rotate(0deg) ;  }
   100% { -ms-transform: rotate(359deg) ;  }
}
@keyframes transform-rotate
{
   0% { transform: rotate(0deg) ;  }
   100% { transform: rotate(359deg) ;  }
}
@-webkit-keyframes transform-3d-flip-in-x
{
   0% { -webkit-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -webkit-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -webkit-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg) ;  }
}
@-moz-keyframes transform-3d-flip-in-x
{
   0% { -moz-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -moz-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -moz-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg) ;  }
}
@-o-keyframes transform-3d-flip-in-x
{
   0% { -o-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -o-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -o-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg) ;  }
}
@-ms-keyframes transform-3d-flip-in-x
{
   0% { -ms-transform: perspective(400px) rotateX(90deg) ;  }
   40% { -ms-transform: perspective(400px) rotateX(-10deg) ;  }
   70% { -ms-transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; -ms-transform: perspective(400px) rotateX(0deg) ;  }
}
@keyframes transform-3d-flip-in-x
{
   0% { transform: perspective(400px) rotateX(90deg) ;  }
   40% { transform: perspective(400px) rotateX(-10deg) ;  }
   70% { transform: perspective(400px) rotateX(10deg) ;  }
   100% { opacity: 1; transform: perspective(400px) rotateX(0deg) ;  }
}
@-webkit-keyframes transform-3d-flip-in-y
{
   0% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-moz-keyframes transform-3d-flip-in-y
{
   0% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-o-keyframes transform-3d-flip-in-y
{
   0% { -o-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -o-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -o-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@-ms-keyframes transform-3d-flip-in-y
{
   0% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; -ms-transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
@keyframes transform-3d-flip-in-y
{
   0% { transform: perspective(400px) rotateX(0deg) rotateY(90deg) ;  }
   40% { transform: perspective(400px) rotateX(0deg) rotateY(-10deg) ;  }
   70% { transform: perspective(400px) rotateX(0deg) rotateY(10deg) ;  }
   100% { opacity: 1; transform: perspective(400px) rotateX(0deg) rotateY(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
